.animal-toggle{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 50px;
}

.input-container{
    margin: 0 auto;
    width: fit-content;
}

.single-animal{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    width: 350px;
    margin: 0 auto;
}

.btn-delete{
    border: none;
    background-color: inherit;
    color: red;
    font-weight: 700;
}